<html>
<head>
<title>Python Flask Upload and display image</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
<div class="container">
<div class="row">
   
    {% if filename %}
    <div class="container w-30">
      <div class="container mt-5">
       <a href="http://127.0.0.1:5000/" class="btn btn-primary">Back</a>
      </div>

        <div class="text-center">
            <img src="{{url_is}}" style="object-fit:contain; width: 500px;height: 500px;">
          </div> 
        
            <!-- <img src="{{ url_for('display_image', filename=filename)}}" width ="200" height="200" alt="..." class="img-thumbnail"> -->
           
   
    </div>
    {% endif %} 
   







</body>
</html>